<h1>Oncampus</h1>
<h3>Online School</h3>

<p>Designers often find themselves in a chicken-egg situation when it comes to content: you need the content to design, but the client wants to write content for finished designs. This is where placeholder text comes in.
Since the 1500s the role of placeholder text has been played by a passage from Cicero’s — yes, he whose hands ended up nailed to the door of the senate — ‘The Extremes of Good and Evil’, better known by its opening two words: Lorem ipsum.
However, recently usability experts have questioned the value of dummy text, arguing that meaningless words are treated differently by our eyes than passages of real text, that our brains attempt to parse into words and phrases. Furthermore, designers themselves are increasingly questioning the value of text you can’t read when readability is one of the key aims of typographic  design.
</p>
